@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

body {
  background-color: #f5f5f5;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

#login {
  padding: 2em;
  padding-top: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 2em;
}

form {
  padding: 1em;
}

input {
  display: block;
  font-size: 1.25em;
  margin-bottom: 0.5em;
}

h1 {
  margin: 0;
}

.two-fa-container {
  text-align: center;
}

#profile {
  padding: 4rem;
}
